@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    min-height: 100vh;
    background-image: url('../images/health.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.box {
    padding: 40px 20px 20px 20px;
    background-color: rgba(255,255, 255, .98);
    box-shadow: 2px 2px 3px #aaaaaa;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 400px;
    max-height: 450px;
}

.box #table {
    overflow: auto;
}

.title{
    margin-bottom: 50px;
    color: #2F2E41;
    font-weight: 600;
}

.btn-submit {
    width: 330px;
    background-color: #05BCCC;
    color: white;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-submit:hover {
    color: white;
    background-color: #999999;
}

@media only screen and (max-width: 430px) {
    .wrapper {
        padding: 10px;
    }
    .box {
       min-width: 95vw;
       max-width: 95vw;
       overflow: hidden;
    }
    .box #table {
        overflow-x: scroll;
    }
    form {
        width: 100%;
    }
    .btn-submit {
        width: 100%;
    }
}

#article {
    text-align: justify;
    margin : 50px 50px 50px 50px;
}