@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

#result {
    padding: 80px 50px 50px 50px;
}

#result h1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

#result p {
    width: 75%;
}

#content {
    background-color: #EBF2F2;
    padding: 40px;
}

.customcard {
    min-height: 200px;
    background-color: white;
    padding: 30px;
    min-width: 45%;
    margin-right: 40px;
}

.customcard h4 {
    margin-bottom: 40px;
}

#graphcontainer {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background: linear-gradient(to right, #3f51b5 0%,#009688 15%,#4caf50 22%,#8bc34a 30%,#cddc39 35%,#ffeb3b 40%,#ff5722 62%,#f44336 72%,#f44336 81%,#dd2a2a 90%,#b71c1c 100%);;
}

#graphbar {
    width: 30%;
    height: 40px;
    border-right: 5px solid #000;
    transition: all 2s ease;
  }

#indicator {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    text-align: right;
}
img {
    width: 30vw;
}

@media only screen and (max-width: 430px) {
    #content {
        padding: 20px 8px;
    }
    .customcard {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
    #result p {
        width: 100%;
    }
    img {
        width: 70vw;
    }
    #saran-normal h3 {
        font-size: 20px;
    }
}

#article_over {
    text-align: justify;
    margin : 50px 50px 50px 50px;
}

#article_under {
    text-align: justify;
    margin : 50px 50px 50px 50px;
}

#article_ideal {
    text-align: justify;
    margin : 50px 50px 50px 50px;
}

