<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>    
    <title>BMI</title>
</head>
<body>
    <div class="wrapper d-flex align-items-center justify-content-center flex-wrap">
        <div class="box d-flex flex-column align-items-center mr-md-2">
            <h4 class="title">Hitung BMI Kamu</h4>
            <form action="#" th:action="@{/result}" th:object="${bmiModel}" method="post" class="d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="tinggi">Tinggi Badan (cm)</label>
                    <input type="number" min="0" class="form-control" name="tinggi" placeholder=". . . cm" th:field="*{height}">
                </div>
                <div class="form-group">
                    <label for="tinggi">Berat Badan (kg)</label>
                    <input type="number" min="0" class="form-control" name="berat" placeholder=". . . kg" th:field="*{weight}">
                </div>
                <button type="submit" value="submit" class="btn btn-light btn-submit align-self-center">Hitung</button>
            </form>
        </div>
        <div class="box d-flex flex-column">
            <h4 class="title text-center">Riwayat perhitungan :</h4>
            <div id="table">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tanggal dan Waktu</th>
                        <th scope="col">Berat</th>
                        <th scope="col">Tinggi</th>
                        <th scope="col">BMI</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="result : ${results}">
                            <th scope="row" th:text="${resultStat.index + 1}"></th>
                            <td th:text="${result.getCreatedAt()}"></td>
                            <td th:text="${result.getWeight()}"></td>
                            <td th:text="${result.getHeight()}"></td>
                            <td th:text="${result.getBmiString()}"></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <h5 th:if="${results.size() == 0}" class="text-center mb-3">Belum ada data</h5>
            <a href="/clear" class="btn btn-light btn-submit align-self-center">Hapus Riwayat</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>