<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/result.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>BMI</title>
</head>

<body>
    <section id="result" th:switch="${bmiModel.getCategory()}">
        <h1 th:text="'BMI : ' + ${bmiModel.getBmiString()}"></h1>
        <div id="saran-overweight" th:case="'overweight'">
            <p><b>Wah, BMI kamu overweight!</b></p>
            <p>Yuk jaga pola makan dengan melakukan diet sehat. Kamu dapat mengikuti beberapa tutorial pada tautan ini :</p>
            <ul>
                <li><a href="https://www.webmd.com/women/reducing-dietary-fat#1">Diet rendah lemak</a></li>
                <li><a href="https://www.medicalnewstoday.com/articles/324915#high-protein-diet">Diet tinggi protein</a></li>
                <li><a href="https://www.alodokter.com/manfaat-diet-karbohidrat-dan-cara-melakukannya">Diet karbohidrat</a></li>
            </ul>
            <p>Tetapi hati-hati ya dalam melakukan diet, jangan sampai malah membuat dirimu menjadi sakit. <br> Berikut tautan yang dapat kamu akses untuk berhati-hati dalam menjalankan diet : </p>
            <ul>
                <li><a href="https://www.medscape.com/viewarticle/921877">Diet tinggi protein dapat berbahaya sekalipun pada ginjal yang sehat</a></li>
            </ul>
            <p>Jangan lupa juga untuk rutin berolahraga dan tetap konsultasikan pada dokter ya!</p>
        </div>
        <div id="saran-obese" th:case="'obese'">
            <p><b>Darurat! BMI kamu obese!</b></p>
            <p>Segera konsultasikan ke dokter untuk menangani hal ini, karena orang dengan obeseitas cenderung lebih rentan terkena penyakit degeneratif.</p>
            <p>Yuk jaga pola makan dengan melakukan diet sehat. Kamu dapat mengikuti beberapa tutorial pada tautan ini :</p>
            <ul>
                <li><a href="https://www.webmd.com/women/reducing-dietary-fat#1">Diet rendah lemak</a></li>
                <li><a href="https://www.medicalnewstoday.com/articles/324915#high-protein-diet">Diet tinggi protein</a></li>
                <li><a href="https://www.alodokter.com/manfaat-diet-karbohidrat-dan-cara-melakukannya">Diet karbohidrat</a></li>
            </ul>
            <p>Tetapi hati-hati ya dalam melakukan diet, jangan sampai malah membuat dirimu menjadi sakit. <br> Berikut tautan yang dapat kamu akses untuk berhati-hati dalam menjalankan diet : </p>
            <ul>
                <li><a href="https://www.medscape.com/viewarticle/921877">Diet tinggi protein dapat berbahaya sekalipun pada ginjal yang sehat</a></li>
            </ul>
            <p>Jangan lupa juga untuk rutin berolahraga !</p>
        </div>
        <div id="saran-normal" class="d-flex align-items-center flex-wrap flex-md-nowrap" th:case="'normal'">
            <h3>Selamat BMI kamu normal! Tetap jaga kesehatan dengan makan makanan yang bergizi dan rutin berolahraga ya!</h3>
            <img src="https://asset-a.grid.id/crop/0x0:0x0/700x465/photo/intisarifoto/original/18404_bagaimana-cara-membuat-orang-lain-senang.jpg">
        </div>
        <div id="saran-underweight" th:case="'underweight'">
            <p><b>Wah, BMI kamu underweight!</b></p>
            <p>Kamu perlu menjaga asupan nutrisi yang cukup dengan makan makanan yang memiliki gizi seimbang dan rutin berolahraga.</p>
            <p><a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/expert-answers/underweight/faq-20058429">cara mengatasi underweight</a></p>
            <p>Dan jangan lupa untuk berkonsultasi ke dokter!</p>
        </div>
        <div class="mt-5">
            <a th:href="@{/}" class="back">Kembali</a>
        </div>
    </section>
    <section id="content" class="d-flex flex-column flex-md-row">
        <div class="customcard rounded-lg shadow align-self-center">
            <h4>Grafik BMI</h4>
            <div id="graphcontainer" th:if="${bmiModel.getBmi()}>=10">
                <div id="graphbar" th:style="${bmiModel.getBmi() > 40} ? 'width:100%' : 'width: ' + ${(bmiModel.getBmi()-10)*100/40} + '%'"></div>
            </div>
            <div id="graphcontainer" th:if="${bmiModel.getBmi() < 10}">
                <div id="graphbar" style="width: 0%;"></div>
            </div>
        </div>
        <div class="customcard rounded-lg shadow">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Indeks Massa Tubuh Kurang
                    <span class="badge badge-primary badge-pill">< 18,5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Indeks Massa Tubuh Normal
                    <span class="badge badge-primary badge-pill">18,5 - 24,9</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Indeks Massa Tubuh Lebih
                    <span class="badge badge-primary badge-pill">25 - 29,9</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Obesitas tingkat 1
                    <span class="badge badge-primary badge-pill">30 - 34,5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Obesitas tingkat 2
                    <span class="badge badge-primary badge-pill">35 <</span>
                </li>
            </ul>
        </div>

    </section>
    <section id="article" th:switch="${bmiModel.getCategory()}">
        <div id="article_over" th:case="'overweight'">
            <h2>Cara Ideal Menurunkan Berat Badan</h2>
            <p>Cara menurunkan berat badan yang ideal membutuhkan komitmen, disiplin, dan perencanaan yang baik. Meski tidak mudah, berat badan ideal bukanlah hanya mimpi belaka saja. Anda bisa melakukan beragam cara menurunkan berat badan, agar bobot Anda
                menjadi sehat dan ideal.</p>
            <p>Pada dasarnya, berat badan tergantung kepada asupan kalori yang masuk dan seberapa banyak kalori yang dipakai oleh aktivitas tubuh. Berat badan tidak bertambah jika jumlah asupan kalori seimbang dengan kalori yang dipakai oleh tubuh. Sedangkan
                cara untuk menurunkan berat badan adalah dengan mengonsumsi kalori lebih sedikit atau meningkatkan aktivitas fisik untuk membakar lebih banyak kalori. Langkah ini merupakan salah satu cara diet alami tanpa obat.</p>
            <br>
            <h3> Menetapkan Sasaran dengan Jelas</h3>
            <p>Memperbaiki menu makanan dan disiplin diri merupakan kunci penurunan berat badan. Mari kita pelajari bagaimana cara ideal dalam menurunkan berat badan.</p>
            <p>Langkah pertama adalah membuat rencana penurunan berat badan dengan rentang waktu yang realistis. Misalnya, Anda menargetkan untuk menurunkan 4 kg selama 1-2 bulan. Setelah berhasil mencapai target tersebut, barulah membuat target yang selanjutnya.</p>
            <p>Kemudian, mulailah membuat rencana tindakan terhadap rencana tersebut. Sebagai contoh, Anda bisa mulai mengurangi kebiasaan mengonsumsi kue yang manis. Jika biasanya makanan jenis itu dikonsumsi setiap hari, maka ubah dengan hanya menjadi
                dua kali per minggu. Kamu juga bisa mulai membawa bekal sehat ke kantor daripada membeli makanan di kantin. Mulai dengan membuat tiga rencana tindakan perubahan. Jika sudah tercapai, Anda dapat menambahnya dengan beberapa perubahan lagi.
                Intinya adalah membuat perubahan lebih sehat yang dapat Anda terapkan untuk seterusnya, dan bukan hanya untuk sementara waktu saja.</p>
            <p>Langkah selanjutnya adalah memperhatikan tiap makanan yang Anda konsumsi. Jika perlu, Anda dapat menuliskannya di dalam sebuah jurnal. Tulis semua yang Anda makan dan minum selama satu minggu. Anda dapat lebih mudah mengetahui kapan saja Anda
                makan berlebihan atau mengonsumsi camilan lebih dari biasanya. Berkonsultasi dengan ahli gizi atau dokter juga akan menjadi lebih mudah dengan menggunakan buku catatan tersebut.</p>
            <br>
            <h3>Tepati Waktu Makan dan Pilih Makanan dengan Gizi Seimbang</h3>
            <p>Makan teratur dan tidak melewatkan waktu makan, misalnya sarapan pagi, justru sangat penting saat menurunkan berat badan. Pola makan tidak teratur akan membuat Anda semakin lapar dan cenderung makan berlebihan. Salah satu cara menurunkan berat
                badan adalah dengan mengonsumsi beberapa makanan berikut ini:</p>
            <ul>
                <li>Beragam buah dan sayur minimal 5 porsi sehari, atau secara ideal 7-9 porsi. Anda dapat menjadikannya sebagai camilan di antara waktu makan. Buah merupakan camilan sehat untuk Anda.</li>
                <li>Makanan sumber karbohidrat, seperti roti, nasi, sereal, kentang dan pasta sebanyak sepertiga dari porsi makan. Sumber karbohidrat terbaik adalah makanan yang terbuat dari biji-bijian utuh (whole grain).</li>
                <li>Pilih sumber protein rendah lemak, seperti ikan. Makanlah ikan 2-3 kali seminggu. Beberapa jenis ikan yang dapat Anda pilih antara lain salmon, tuna, tongkol, dan ikan tenggiri. Pilihan makanan sumber protein lainnya adalah telur, daging
                    unggas, produk susu rendah lemak, daging tanpa lemak, dan kacang-kacangan.</li>
            </ul>
            <p>Sebaliknya ada beberapa jenis makanan yang perlu Anda batasi selama menurunkan berat badan:</p>
            <ul>
                <li>Daging dengan lemak, keju, mentega, susu, serta makanan yang digoreng. Pilih yang memiliki kandungan kalori lebih rendah, seperti daging dada ayam atau susu rendah lemak.</li>
                <li>Makanan gorengan. Sebaiknya pilih makanan yang diolah dengan cara dikukus, direbus, atau dipanggang.</li>
                <li>Makanan asin atau tambahan garam pada makanan.</li>
                <li>Cokelat, biskuit, kue, dan makanan serta minuman manis lainnya.</li>
                <li>Makanan tinggi lemak, seperti makanan siap saji.</li>
            </ul>
            <br>
            <h3>Bergerak Lebih Aktif</h3>
            <p>Meningkatkan aktivitas fisik dengan rutin olahraga menjadi salah satu hal yang perlu dilakukan dalam proses penurunan berat badan. Ini merupakan cara menurunkan berat badan yang penting. Adapun jenis olahraga dan waktu yang diperlukan untuk
                berolahraga tergantung dari usia dan kondisi fisik Anda.</p>
            <p>Untuk menurunkan berat badan, setidaknya Anda harus tetap aktif membakar kalori. Bagi Anda yang memiliki berat badan berlebih, Anda bisa mencoba beberapa olahraga berikut ini setidaknya 30 menit per hari:</p>
            <ul>
                <li>Aerobik air, dapat membakar kalori sebanyak 160 kalori.</li>
                <li>Jalan cepat dan menanjak, membakar setidaknya 250 kalori.</li>
                <li>Bermain dengan anak-anak, sekitar 160 kalori.</li>
                <li>Berenang, membakar 400 kalori.</li>
            </ul>
            <p>Jika Anda memiliki kondisi kesehatan khusus, sebaiknya konsultasikan dengan dokter sebelum memulai berolahraga. Minta saran terbaik untuk jenis dan porsi waktu yang tepat untuk Anda.</p>
            <br>
            <h3>Berapa Penurunan Berat Badan Ideal tiap Minggu?</h3>
            <p>Memperoleh hasil yang cepat saat menurunkan berat badan menjadi harapan banyak orang, tapi hal itu tidak dianjurkan karena berisiko menimbulkan masalah kesehatan.</p>
            <p>Penurunan berat badan yang aman, yaitu sekitar 0,5 kg hingga 1 kg per minggu. Upayakan agar tidak melebihi kisaran tersebut pada tiap minggunya.</p>
            <p>Beberapa risiko kesehatan pada penurunan berat badan terlalu berlebihan dan cepat, antara lain mengalami kelelahan, merasa tidak enak badan, mengalami kurang gizi, dan munculnya batu empedu.</p>
            <br>
            <p>Rencana penurunan berat badan sangat penting didasarkan dengan motivasi yang kuat. Menurunkan berat badan dapat meningkatkan vitalitas tubuh sekaligus mengurangi risiko penyakit, seperti diabetes, tekanan darah tinggi, meringankan rasa nyeri,
                dan memperbaiki kemampuan gerak pada penderita osteoartritis.</p>
            <p>Cara menurunkan berat badan yang ideal adalah dengan tidak mengejar hasil yang cepat dan drastis. Untuk hasil terbaik, terapkan cara menurunkan berat badan yang sehat, secara bertahap namun konsisten. Mulailah mengubah pola makan menjadi lebih
                sehat dan memperbanyak aktivitas fisik dengan berolahraga. Jika merasa kesulitan, Anda bisa berkonsultasi dengan dokter untuk mendapatkan cara menurunkan berat badan yang sesuai bagi Anda.</p>
        </div>
        <div id="article_over" th:case="'obese'">
            <h2>Cara Ideal Menurunkan Berat Badan</h2>
            <p>Cara menurunkan berat badan yang ideal membutuhkan komitmen, disiplin, dan perencanaan yang baik. Meski tidak mudah, berat badan ideal bukanlah hanya mimpi belaka saja. Anda bisa melakukan beragam cara menurunkan berat badan, agar bobot Anda
                menjadi sehat dan ideal.</p>
            <p>Pada dasarnya, berat badan tergantung kepada asupan kalori yang masuk dan seberapa banyak kalori yang dipakai oleh aktivitas tubuh. Berat badan tidak bertambah jika jumlah asupan kalori seimbang dengan kalori yang dipakai oleh tubuh. Sedangkan
                cara untuk menurunkan berat badan adalah dengan mengonsumsi kalori lebih sedikit atau meningkatkan aktivitas fisik untuk membakar lebih banyak kalori. Langkah ini merupakan salah satu cara diet alami tanpa obat.</p>
            <br>
            <h3> Menetapkan Sasaran dengan Jelas</h3>
            <p>Memperbaiki menu makanan dan disiplin diri merupakan kunci penurunan berat badan. Mari kita pelajari bagaimana cara ideal dalam menurunkan berat badan.</p>
            <p>Langkah pertama adalah membuat rencana penurunan berat badan dengan rentang waktu yang realistis. Misalnya, Anda menargetkan untuk menurunkan 4 kg selama 1-2 bulan. Setelah berhasil mencapai target tersebut, barulah membuat target yang selanjutnya.</p>
            <p>Kemudian, mulailah membuat rencana tindakan terhadap rencana tersebut. Sebagai contoh, Anda bisa mulai mengurangi kebiasaan mengonsumsi kue yang manis. Jika biasanya makanan jenis itu dikonsumsi setiap hari, maka ubah dengan hanya menjadi
                dua kali per minggu. Kamu juga bisa mulai membawa bekal sehat ke kantor daripada membeli makanan di kantin. Mulai dengan membuat tiga rencana tindakan perubahan. Jika sudah tercapai, Anda dapat menambahnya dengan beberapa perubahan lagi.
                Intinya adalah membuat perubahan lebih sehat yang dapat Anda terapkan untuk seterusnya, dan bukan hanya untuk sementara waktu saja.</p>
            <p>Langkah selanjutnya adalah memperhatikan tiap makanan yang Anda konsumsi. Jika perlu, Anda dapat menuliskannya di dalam sebuah jurnal. Tulis semua yang Anda makan dan minum selama satu minggu. Anda dapat lebih mudah mengetahui kapan saja Anda
                makan berlebihan atau mengonsumsi camilan lebih dari biasanya. Berkonsultasi dengan ahli gizi atau dokter juga akan menjadi lebih mudah dengan menggunakan buku catatan tersebut.</p>
            <br>
            <h3>Tepati Waktu Makan dan Pilih Makanan dengan Gizi Seimbang</h3>
            <p>Makan teratur dan tidak melewatkan waktu makan, misalnya sarapan pagi, justru sangat penting saat menurunkan berat badan. Pola makan tidak teratur akan membuat Anda semakin lapar dan cenderung makan berlebihan. Salah satu cara menurunkan berat
                badan adalah dengan mengonsumsi beberapa makanan berikut ini:</p>
            <ul>
                <li>Beragam buah dan sayur minimal 5 porsi sehari, atau secara ideal 7-9 porsi. Anda dapat menjadikannya sebagai camilan di antara waktu makan. Buah merupakan camilan sehat untuk Anda.</li>
                <li>Makanan sumber karbohidrat, seperti roti, nasi, sereal, kentang dan pasta sebanyak sepertiga dari porsi makan. Sumber karbohidrat terbaik adalah makanan yang terbuat dari biji-bijian utuh (whole grain).</li>
                <li>Pilih sumber protein rendah lemak, seperti ikan. Makanlah ikan 2-3 kali seminggu. Beberapa jenis ikan yang dapat Anda pilih antara lain salmon, tuna, tongkol, dan ikan tenggiri. Pilihan makanan sumber protein lainnya adalah telur, daging
                    unggas, produk susu rendah lemak, daging tanpa lemak, dan kacang-kacangan.</li>
            </ul>
            <p>Sebaliknya ada beberapa jenis makanan yang perlu Anda batasi selama menurunkan berat badan:</p>
            <ul>
                <li>Daging dengan lemak, keju, mentega, susu, serta makanan yang digoreng. Pilih yang memiliki kandungan kalori lebih rendah, seperti daging dada ayam atau susu rendah lemak.</li>
                <li>Makanan gorengan. Sebaiknya pilih makanan yang diolah dengan cara dikukus, direbus, atau dipanggang.</li>
                <li>Makanan asin atau tambahan garam pada makanan.</li>
                <li>Cokelat, biskuit, kue, dan makanan serta minuman manis lainnya.</li>
                <li>Makanan tinggi lemak, seperti makanan siap saji.</li>
            </ul>
            <br>
            <h3>Bergerak Lebih Aktif</h3>
            <p>Meningkatkan aktivitas fisik dengan rutin olahraga menjadi salah satu hal yang perlu dilakukan dalam proses penurunan berat badan. Ini merupakan cara menurunkan berat badan yang penting. Adapun jenis olahraga dan waktu yang diperlukan untuk
                berolahraga tergantung dari usia dan kondisi fisik Anda.</p>
            <p>Untuk menurunkan berat badan, setidaknya Anda harus tetap aktif membakar kalori. Bagi Anda yang memiliki berat badan berlebih, Anda bisa mencoba beberapa olahraga berikut ini setidaknya 30 menit per hari:</p>
            <ul>
                <li>Aerobik air, dapat membakar kalori sebanyak 160 kalori.</li>
                <li>Jalan cepat dan menanjak, membakar setidaknya 250 kalori.</li>
                <li>Bermain dengan anak-anak, sekitar 160 kalori.</li>
                <li>Berenang, membakar 400 kalori.</li>>
            </ul>
            <p>Jika Anda memiliki kondisi kesehatan khusus, sebaiknya konsultasikan dengan dokter sebelum memulai berolahraga. Minta saran terbaik untuk jenis dan porsi waktu yang tepat untuk Anda.</p>
            <br>
            <h3>Berapa Penurunan Berat Badan Ideal tiap Minggu?</h3>
            <p>Memperoleh hasil yang cepat saat menurunkan berat badan menjadi harapan banyak orang, tapi hal itu tidak dianjurkan karena berisiko menimbulkan masalah kesehatan.</p>
            <p>Penurunan berat badan yang aman, yaitu sekitar 0,5 kg hingga 1 kg per minggu. Upayakan agar tidak melebihi kisaran tersebut pada tiap minggunya.</p>
            <p>Beberapa risiko kesehatan pada penurunan berat badan terlalu berlebihan dan cepat, antara lain mengalami kelelahan, merasa tidak enak badan, mengalami kurang gizi, dan munculnya batu empedu.</p>
            <br>
            <p>Rencana penurunan berat badan sangat penting didasarkan dengan motivasi yang kuat. Menurunkan berat badan dapat meningkatkan vitalitas tubuh sekaligus mengurangi risiko penyakit, seperti diabetes, tekanan darah tinggi, meringankan rasa nyeri,
                dan memperbaiki kemampuan gerak pada penderita osteoartritis.</p>
            <p>Cara menurunkan berat badan yang ideal adalah dengan tidak mengejar hasil yang cepat dan drastis. Untuk hasil terbaik, terapkan cara menurunkan berat badan yang sehat, secara bertahap namun konsisten. Mulailah mengubah pola makan menjadi lebih
                sehat dan memperbanyak aktivitas fisik dengan berolahraga. Jika merasa kesulitan, Anda bisa berkonsultasi dengan dokter untuk mendapatkan cara menurunkan berat badan yang sesuai bagi Anda.</p>
        </div>

        <div id="article_under" th:case="'underweight'">
            <h2>Menambah Berat Badan Menjadi Lebih Ideal</h2>
            <p>Saat orang lain ingin menurunkan berat badan, bukan hal yang salah jika Anda ingin tahu bagaimana cara agar tubuh menjadi lebih berisi. Menambah berat badan bukanlah perkara mudah bagi Anda yang memiliki tubuh kurus.</p>
            <p>Memiliki tubuh terlalu kurus tidak selalu menyenangkan. Hal ini dapat menjadi persoalan jika penyebabnya adalah kekurangan nutrisi atau mengalami penyakit tertentu. Belum lagi, jika memandang kondisi tersebut dapat memburuk saat Anda, khususnya
                kaum wanita, sedang mengandung. Namun, ada cara sehat yang dapat ditempuh agar Anda dapat menambah berat badan.</p>
            <h3>Periksa Terlebih Dahulu Kesehatan Anda</h3>
            <p>Cara terbaik untuk menambah berat badan tergantung kepada hal apa yang menyebabkan berat badan Anda berkurang atau rendah. Maka sebelum memulai program peningkatan berat badan, periksa terlebih dahulu apakah berat badan Anda memang berada
                di bawah berat badan normal dengan menghitung indeks massa tubuh. Jika memang berat badan Anda kurang dari yang seharusnya, maka bisa jadi Anda membutuhkan penanganan medis.</p>
            <p>Beberapa kondisi yang dapat menyebabkan berat tubuh Anda berkurang dari normal antara lain:</p>
            <ul>
                <li>Hipertiroidisme atau kelenjar tiroid yang terlalu aktif.</li>
                <li>Penyakit Celiac yang membuat tubuh tidak dapat menyerap nutrisi tertentu dari makanan.</li>
                <li>Gangguan pencernaan, seperti pada penyakit Crohn atau kolitis ulseratif.</li>
                <li>Menderita kanker dan menjalani kemoterapi.</li>
                <li>Gangguan makan seperti anoreksia nervosa.</li>
                <li>Menderita gangguan psikologis seperti stres atau depresi.</li>
                <li>Orang yang mengidap penyakit-penyakit di atas membutuhkan pengobatan dari dokter dan psikiater jika dibutuhkan.</li>
            </ul>
            <h3>Memperoleh Tubuh Ideal yang Lebih Berisi</h3>
            <p>Terlepas dari gangguan-gangguan medis di atas, bagi Anda yang ingin menambah berat badan secara sehat dan aman dapat mengikuti beberapa panduan di bawah ini.</p>
            <ul>
                <li>
                    <h4>Pilih makanan sehat yang kaya dengan nutrisi.</h4>
                    <p>Cara terbaik untuk mendapatkan badan lebih berisi adalah bukan dengan mengonsumsi sebanyak mungkin makanan berlemak dan berkadar gula tinggi, melainkan memilih makanan sehat dengan kandungan gizi seimbang yang tepat. Konsumsi lebih
                        banyak buah-buahan, sayur-sayuran, kacang-kacangan, serta sumber protein tanpa lemak seperti tahu, tempe, dan daging ayam tanpa kulit.</p>
                </li>
                <li>
                    <h4>Makan lebih sering.</h4>
                    <p>Orang dengan berat badan kurang sering merasa cepat kenyang. Daripada makan dua hingga tiga kali sehari dalam porsi besar, lebih baik makan 5-6 kali sehari dalam porsi-porsi yang lebih kecil.</p>
                </li>
                <li>
                    <h4>Mengonsumsi jus atau smoothies.</h4>
                    <p>Di sela-sela jam makan utama, konsumsi camilan bernutrisi seperti buah kurma, jagung rebus, kacang kedelai, avokad, salad sayur. Sebisa mungkin batasi makanan-makanan yang diolah dengan cara digoreng (gorengan) dalam rendaman minyak
                        jika ingin menambah berat badan Anda.</p>
                </li>
                <li>
                    <h4>Mengonsumsi camilan.</h4>
                    <p>Anda disarankan meminum kalori pada waktu makan, terutama saat Anda tidak berselera mengonsumsi camilan apa pun. Smoothies adalah minuman berbahan dasar buah dan kacang yang dicampur susu atau yoghurt serta bahan-bahan lain yang disatukan
                        dan diblender. Hindari minuman bersoda, kopi, serta minuman ringan lain yang tidak mengandung nutrisi. Anda juga dapat mengganti camilan dengan segelas jus segar.</p>
                </li>
                <li>
                    <h4>Tambahkan kalori.</h4>
                    <p>Tambahkan kalori dalam tiap makanan Anda. Taburkan keju parut pada roti dari biji-bijian utuh, atau telur dadar pada sup ayam Anda. Meski demikian, tetap berhati-hati dalam memilih makanan penambah kalori agar tidak mengakibatkan kelebihan
                        glukosa (gula darah) atau lemak tidak sehat dalam tubuh.</p>
                </li>
                <li>
                    <h4>Minum saat makan atau 30 menit sesudah makan.</h4>
                    <p>Minum banyak air sebelum makan dapat membuat tubuh kenyang. Sebaliknya, minum di tengah makan atau 30 menit setelahnya, ini akan membuat tubuh dapat menyerap lebih banyak kalori.</p>
                </li>
                <li>
                    <h4>Membiasakan diri untuk berolahraga.</h4>
                    <p>Olahraga yang melatih kekuatan dapat meningkatkan berat badan dengan cara membentuk otot Anda. Selain itu, olahraga juga bermanfaat untuk membangkitkan nafsu makan Anda. Aerobik, angkat beban, bersepeda statis, berenang, dan berlari
                        adalah olahraga yang bisa dicoba. Padukan olahraga dengan konsumsi camilan yang kaya protein, seperti susu cokelat rendah lemak. Minuman ini juga dapat dikonsumsi sebelum tidur.</p>
                </li>
                <li>
                    <h4>Istirahat dengan cukup.</h4>
                    <p>Kurangnya waktu dan kualitas tidur berpotensi membuat metabolisme tubuh tidak dapat bekerja dengan baik. Tidur dan bangun tepat waktu dapat membantu menjaga berat badan.</p>
                </li>
            </ul>
            <p>Selain olahraga dan pola makan sehat, di pasaran banyak beredar suplemen vitamin yang menjanjikan peningkatan berat badan. Cari tahu apakah produk tersebut aman untuk Anda konsumsi atau tidak.</p>
            <p>Suplemen vitamin tidak akan efektif jika Anda tidak mengonsumsi makanan sehat dan rutin berolahraga. Bahkan, sebagian suplemen dapat mendatangkan risiko buruk bagi kesehatan. Namun jika Anda berniat mengonsumsinya, pastikan produk tersebut
                telah terdaftar di BPOM dan konsumsi sesuai dengan anjuran dokter.</p>
            <p>Dengan mengikuti panduan di atas, Anda bisa menambah berat badan Anda. Dan tubuh yang lebih berisi serta sehat, bukan lagi sekadar impian.</p>
        </div>

        <div id="article_ideal" th:case="'normal'">
            <h2>Menjaga Berat Badan Ideal dengan Makanan Rendah Kalori</h2>
            <p>Makanan rendah kalori baik untuk menjaga berat badan. Tiap makanan mengandung kalori yang dibutuhkan untuk tubuh. Namun, jika jumlah kalori yang masuk lebih banyak dari jumlah kalori yang digunakan, maka dapat berakibat kepada peningkatan
                berat badan. Jika Anda tidak ingin berat badan bertambah, ada baiknya Anda mengonsumsi makanan rendah kalori.</p>
            <p>Makanan rendah kalori berguna untuk menyeimbangkan antara jumlah kalori yang masuk dan jumlah kalori yang dibutuhkan tubuh, namun tetap memberikan rasa kenyang.</p>
            <h3>Beberapa Jenis Makanan Rendah Kalori</h3>
            <p>Berikut ini adalah beberapa makanan rendah kalori yang baik dikonsumsi untuk menjaga berat badan Anda.</p>
            <ul>
                <li>
                    <h4>Sayur-sayuran dan buah-buahan</h4>
                    <p>Sudah menjadi rahasia umum jika buah dan sayur adalah dua jenis makanan yang sehat dan pastinya baik untuk tubuh. Sayuran mengandung kalori yang rata-rata berjumlah kurang dari 100 kalori per takaran saji. Misalnya saja brokoli, timun,
                        wortel, asparagus, kembang kol, seledri, tomat, dan kubis.</p>
                    <p>Sedangkan buah-buahan yang memiliki kandungan kalori yang rendah, yaitu semangka, stroberi, bluberi, anggur, kismis, jeruk bali, lemon, dan jeruk nipis.</p>
                    <p>Untuk camilan atau snack sehat, mengonsumsi secangkir (sekitar 175 gram) anggur lebih sehat daripada kismis, karena kalori dalam secangkir anggur setara dengan seperempat cangkir kismis. Selain itu, mengonsumsi anggur akan membuat
                        Anda merasa lebih kenyang dibandingkan mengonsumsi kismis.</p>
                </li>
                <li>
                    <h4>Kacang-kacangan dan biji-bijian</h4>
                    <p>Selain sayur dan buah, kacang-kacangan dan biji-bijian juga termasuk makanan rendah kalori. Misalnya saja, segenggam kacang almond (sekitar 10-15 kacang almond) hanya mengandung sekitar 80 kalori, selain itu mengonsumsi 10 biji kacang
                        pistachio hanya memberi kalori sekitar 40 kalori. Jika lapar di antara jam makan, Anda bisa mengonsumsi popcorn yang sangat rendah kalorinya, selama tidak ditambahkan mentega atau gula. Tiga setengah cangkir popcorn hanya mengandung
                        100 kalori.</p>
                </li>
                <li>
                    <h4>Ikan</h4>
                    <p>Ikan juga termasuk dalam makanan rendah kalori. Selain itu, kandungan omega-3 yang terdapat dalam ikan mengandung banyak manfaat bagi kesehatan, termasuk untuk mengurangi peradangan dan memperbaiki kesehatan jantung. Beberapa jenis
                        ikan yang rendah kalorinya adalah salmon (116 kalori per 100 gram), ikan kod (82 kalori per 100 gram), tongkol, dan tuna. Pastikan ikan yang dikonsumsi, diolah dengan cara yang sehat juga, yaitu ditumis dengan sedikit minyak atau
                        dikukus. Hindari menggoreng ikan.</p>
                </li>
            </ul>
            <p>Jika Anda kurang suka mengonsumsi ikan, jenis daging lain yang rendah lemak adalah daging yang berwarna putih, seperti dada ayam. Pastikan Anda menyisihkan kulit ayam yang tinggi kalori dan rendah nutrisinya.</p>
            <h3>Jumlah Kalori yang Dibutuhkan Tubuh</h3>
            <p>Jumlah kalori yang dibutuhkan oleh tubuh pada tiap orang bisa berbeda-beda, tergantung dari jenis kelamin, usia, dan tingkat aktivitas orang tersebut.</p>
            <p>Anak-anak yang berusia 2-8 tahun membutuhkan 1000-1400 kalori per hari. Perempuan dewasa aktif yang berusia 14-30 tahun membutuhkan sekitar 2400 kalori. Sementara perempuan yang berusia 14-30 tahun dan kurang aktif, membutuhkan 1800-2000 kalori.
                Pria berusia 14-30 tahun dan beraktivitas cukup berat, membutuhkan 2800-3000 kalori. Tapi jika kurang aktif, maka kalori yang dibutuhkan adalah 2000-2600 kalori.</p>
            <p>Wanita dan pria yang berusia lebih dari 30 tahun dan masih cukup aktif, membutuhkan 2000-3000 kalori per hari. Namun, jika pada usia tersebut aktivitas sudah lebih berkurang atau tidak banyak bergerak, maka kalori yang dibutuhkan hanya 1800-2200
                kalori per hari.</p>
            <p>Asupan kalori yang berlebih dapat berubah menjadi lemak tubuh, yang mana akan disimpan ke dalam sel lemak atau jaringan lemak tubuh. Namun, jika Anda mengurangi asupan kalori atau lebih banyak kalori yang dibakar dibandingkan kalori yang masuk,
                maka lemak tersebut akan berkurang dan sel lemak akan kembali menciut atau mengerut.</p>
            <p>Kurangi asupan kalori Anda jika ingin menurunkan berat badan dan menghilangkan lemak di perut. Tapi, jika kalori yang Anda konsumsi terlalu sedikit, juga akan berdampak buruk. Kekurangan kalori bisa menimbulkan beberapa efek samping, seperti
                mudah lelah, rambut rontok, susah hamil, diare, mual, atau sembelit.</p>
            <p>Mengonsumsi makanan rendah kalori dapat membantu Anda untuk tetap merasa kenyang tanpa mengalami penimbunan lemak akibat asupan kalori yang melebihi kebutuhan tubuh tiap harinya. Jika masih bingung untuk menjaga berat badan ideal dan masih
                ragu dalam memilih makanan rendah kalori, Anda bisa berkonsultasi dengan dokter untuk mendapat saran dan rencana diet yang sesuai dengan kondisi Anda.</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>